* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-155deg, #44D0AB 0%, #357EC8 100%);
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.chosen {
    opacity: 0.3;
}

.settings-icon,
.refresh-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    height: 24px;
    transition: transform 0.5s;
}

.settings-icon:hover {
    transform: scale(1.2);
}

.refresh-icon {
    right: 35px;
}

.refresh-icon:hover {
    transform: rotate(180deg);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* Base currency container */

.base-currency.container {
    margin-bottom: 50px;
}

.base-currency form {
    display: inline-block;
    margin-right: 24px;
    width: 310px;
}

.base-currency input {
    background-color: inherit;
    border: none;
    font-size: 130px;
    font-weight: 300;
    text-align: right;
    color: white;
    width: 100%;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
    transition: border-bottom 0.3s;
}

.base-currency input:hover {
    border-bottom: 2px dashed;
}

.base-currency input:focus {
    border-bottom: 2px dashed;
    outline: none;
}

.base-currency input[type=number]::-webkit-inner-spin-button,
.base-currency input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.base-currency .currency-code {
    display: inline-block;
    position: relative;
    top: -35px;
    width: 170px;
    margin: 0;
    font-size: 70px;
    font-weight: 600;
}

.base-currency .text-container {
    position: relative;
}

.base-currency.container .currency-name {
    display: inline-block;
    position: absolute;
    top: -77px;
    left: 342px;
    width: 260px;
    font-size: 23px;
    font-weight: 500;
}

.base-currency .info {
    position: relative;
    font-size: 12px;
    top: -5px;
    text-transform: uppercase;
}


.equals-icon {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}


/* Counter currencies container */

.counter-currencies.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100vw;
}

.counter-currency.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    width: 300px;
    background: white;
    box-shadow: 5px 25px 50px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    color: #3B4347;
}

.counter-currency:hover .change-currency-button {
    opacity: 1;
}

.counter-currency:hover .change-currency-button:hover {
    opacity: 0.3;
}

.counter-currency .currency-value {
    margin: 0;
    margin-top: 20px;
    color: #3DA8B9;
    font-size: 70px;
    font-weight: 300;
}

.counter-currency .currency-code {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}

.counter-currency .currency-name {
    margin-top: 5px;
    margin-bottom: 30px;
    opacity: 0.5;
    font-weight: 500;
}

.button-container {
    position: relative;
}

.change-currency-button {
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    width: 80px;
}

.counter-currency .change-currency-button {
    top: -205px;
    left: 70px;
    color: black;
    opacity: 0;
    transition: opacity 0.2s;
}


/* Overlay */

.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -320px;
    background-color: #E7E7E7;
    width: 320px;
    height: 100vh;
    color: black;
    overflow: scroll;
    transition: all 0.5s;
}

.overlay.visible {
    transform: translateX(-320px);
}

.overlay .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
    height: 18px;
    transition: transform 0.3s;
}

.overlay .close-icon:hover {
    transform: scale(1.1);
}

.overlay h3 {
    margin: 32px 0;
    text-align: center;
}

.overlay h4 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
}

.overlay h4:last-of-type {
    margin-top: 10px;
}

.overlay .base-currency,
.overlay .counter-currency {
    cursor: pointer;
}

.overlay .flag-icon {
    margin: 0 10px 20px 20px;
    height: 30px;
}

.overlay .base-currency .flag-icon,
.overlay .counter-currency .flag-icon {
    transition: all 0.3s;
}

.overlay .base-currency:hover .flag-icon,
.overlay .counter-currency:hover .flag-icon {
    transform: scale(1.2);
}

.overlay .currency-value {
    display: inline-block;
    margin: 0;
    margin-right: 11px;
    font-size: 70px;
    font-weight: 300;
}

.overlay .currency-code,
.overlay .currency-name {
    display: inline-block;
    position: relative;
    top: -30px;
    right: auto;
    margin: 0;
    width: auto;
    font-size: 16px;
    font-weight: 500;
}

.overlay .currency-code {
    margin-right: 5px;
}

.overlay .currency-name {
    color: #9B9B9B;
    opacity: 1;
}

.overlay.choose h4 {
    margin: 25px 0;
}
